body {
  overflow-y: scroll;
}

@charset "UTF-8";
/* 開く時の.bodyのアニメーション */
@keyframes modalwindow_body_in {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes modalwindow_body_out {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

/*広告のモーダルウィンドウ*/
.modalwindow {
  /* オーバーレイ＆スクロール領域になるレイヤー */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 101;
  width: 100%;
  /* スマホでスワイプして指を離すまでの間下部の背景が無くなるため余分に指定 */
  height: calc(100% + 100px);
  background: #fff;
  opacity: 1;
}

.ad__modal-content{
  width: 80%;
  margin: 0 auto;
  /*background: orange;*/
}

.ad__images{
  /*background: pink;*/
  margin: 0 auto;
}

.ad__images--v2{
  /*background: pink;*/
  margin: 0 auto;
}

.ad__img{
  height: 40vw;
  float: left;
  border: solid 1px #f5f5f5;
  margin-left: 10vw;
  margin-top: 4vw;
}

.ad__images--v2 ul{
  width: 100%;
  display: inline;
  margin-left: 5vw;
  margin-bottom: 10vw;
  background: red;
}

.ad__images--v2 li{
  float: left;
  display: inline-block;
  padding-top: 5vw;
  margin-left: 1%;
}

.ad__img--v2{
  height: 25vw;
  display: inline-block;
  margin-top: 4vw;
  margin-right: 3%;
}

.ad__mockup{
  display: inline-block;
  margin: 10vw 10vw;
  width: 80%;
}

.mockup--v2{
  display: block;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vw;
  width: 80%;
}

.ad__description{
  padding-top: 20vw;
  width: 40%;
  float: left;
  text-align: center;
  /*background: red;*/
}

.ad__description h1{
  font-size: 1.3vw;
  letter-spacing: 0.2em;
}

.ad__description p{
	font-size: 1vw;
}

.modalwindow.lock .close_modal {
  background: #ccc;
}

.modalwindow .modal__body {
  /* ウィンドウ自体 アニメーションなどで装飾 */
  position: relative;
  left: 0%;
  top: 0;
  width: 100%;
  margin-left: 0;
  background: #fff;
  cursor: default;
  transform: translateY(-20px);
  animation: 200ms modalwindow_body_out;
}

.modalwindow.is_visible .modal__body {
  transform: translateY(0px);
  animation: 400ms modalwindow_body_in;
}
