body {
  overflow-y: scroll;
}

@charset "UTF-8";
/* 開く時の.bodyのアニメーション */
@keyframes modalwindow_body_in {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes modalwindow_body_out {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

/*webのモーダルウィンドウ*/
.modalwindow {
  /* オーバーレイ＆スクロール領域になるレイヤー */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 101;
  width: 100%;
  background: #fff;
  /* スマホでスワイプして指を離すまでの間下部の背景が無くなるため余分に指定 */
  height: calc(100% + 100px);
  opacity: 1;
}

.other__modal-content{
  width: 80%;
  margin: 0 auto;
  /*background: orange;*/
}

.other__description{
  width: 50%;
}

.other__description h1{
  font-size: 1.3vw;
  letter-spacing: 0.2em;
  padding-top: 5vw;
}

.other__description h2{
  font-size: 2vw;
  letter-spacing: 0.2em;
}

.business-card__img{
  width: 100%;
  text-align: center;
  padding-top: 10vw;
}

.business-card__img img{
  width: 60%;
}

.band-logo__img img{
  width: 30%;
  margin-top: 5vw;
}

.band-logo__img img.band-logo{
  float: left;
}

.band-logo__img img.band__mockup{
  margin-left: 30%;
  margin-top: -10vw;
}

.branding__img{
  width: 90%;
  margin: 8vw auto;
  text-align: center;
}

.branding__img img{
  margin-top: 10vw;
  margin-bottom: 10vw;
  width: 60%;
}

.branding__img img.clipdetrip-logo{
  margin: 0 auto;
  width: 50%;
}

.other__description p{
  width: 75%;
}

.modalwindow.lock .close_modal {
  background: #ccc;
}

.modalwindow .modal__body {
  /* ウィンドウ自体 アニメーションなどで装飾 */
  position: relative;
  left: 0%;
  top: 0;
  width: 100%;
  /*height: 200vh;*/
  margin-left: 0;
  margin-bottom: 10px;
  background: #fff;
  transform: translateY(-20px);
  animation: 200ms modalwindow_body_out;
}

.modalwindow .modal__body .other__modal-content {
  padding: 20px;
}

.modalwindow.is_visible .modal__body {
  transform: translateY(0px);
  animation: 400ms modalwindow_body_in;
}

.close_modal{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.close_modal img{
  margin: 0;
  top: 0;
  width: 20px;
  padding: 5px;
}
