body {
  overflow-y: scroll;
}

@charset "UTF-8";
/* 開く時の.bodyのアニメーション */
@keyframes modalwindow_body_in {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes modalwindow_body_out {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

/*webのモーダルウィンドウ*/
.modalwindow {
  /* オーバーレイ＆スクロール領域になるレイヤー */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 101;
  width: 100%;
  /* スマホでスワイプして指を離すまでの間下部の背景が無くなるため余分に指定 */
  height: calc(100% + 100px);
  /*background: rgba(0, 0, 0, 0.5);
  border-bottom: 100px solid transparent;*/
  cursor: pointer;
  opacity: 1;
}

.ad__description{
  width: 40%;
	height: 50vh;
	display: inline-block;
	text-align: left;
	padding-top: 10vw;
	margin-left: 20%;
}

.ad__description h1{
  font-size: 1vw;
  letter-spacing: 0.2em;
}

.ad__description p{
	font-size: 1.3vw;
}

.modalwindow ul{
  display: inline;
  width: 50%;
}

.modalwindow.no_overlay_close {
  cursor: default;
}
/*
.modalwindow.lock .close_modal {
  background: #ccc;
}*/

.close_modal img{
  width: 30px;
  display: inline-block;
  margin: 0;
}

.modalwindow .modal__body {
  /* ウィンドウ自体 アニメーションなどで装飾 */
  position: relative;
  left: 0%;
  top: 0;
  width: 100%;
  height: 200vh;
  margin-left: 0;
  margin-bottom: 10px;
  background: #fff;
  cursor: default;
  /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
  transform: translateY(-20px);
  animation: 200ms modalwindow_body_out;
}

.ad__modal-content img{
  width: 30%;
  margin: 0;
  padding: 0;
  border: solid 1px #f5f5f5;
}

.ad__modal-content li{
  display: inline-block;
}

.modalwindow .modal__body .ad__modal-content {
  padding: 20px;
}

.modalwindow.is_visible .modal__body {
  transform: translateY(0px);
  animation: 400ms modalwindow_body_in;
}

.modalwindow_header_close {
  /* 右上に表示する×ボタン */
  position: absolute;
  right: 0;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
}


.close_modal img{
  display: block;
  margin: 0;
  width: 30px;
}

.close_modal p{
  font-size: 0.5vw;
  letter-spacing: 0.3em;
  margin: 0;
}
